<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="tests" thread-count="2">
  <!--  <listeners>
        <listener class-name="TestNG.Listeners"/>

    </listeners>-->

    <test verbose="2" preserve-order="true"
          name="test1">
 <!--       <parameter name="URL" value="sachin.com"/>
        <parameter name="key" value="webdriver.chrome.driver"/>-->

        <groups>
            <run>
              <!--  <include name="Regression"/>-->
            </run>
        </groups>
        <classes>
            <class name="TestNG.Testng2">

            </class>
        </classes>

    </test>


</suite>