<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

    <test verbose="2" preserve-order="true"
          name="test1">
 <!--       <parameter name="URL" value="sachin.com"/>
        <parameter name="key" value="webdriver.chrome.driver"/>-->

        <groups>
            <run>
              <!--  <include name="Regression"/>-->
            </run>
        </groups>
        <classes>
            <class name="TestNG.TestNGPractice">

            </class>
        </classes>

    </test>


</suite>